repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.3.5
    hooks:
      - id: ruff
        args: [ --fix ]
  - repo: local
    hooks:
      - id: tests
        name: Run Tests
        entry: bash -c 'PYTHONPATH=common pytest tests/'
        language: system
        types: [python]
        pass_filenames: false
        always_run: true
